name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install poetry
      run: |
        curl -sSL "https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py" | python
        
        # Adding `poetry` to `$PATH`:
        echo "$HOME/.poetry/bin" >> $GITHUB_PATH

    - name: Install dependencies
      run: |
        poetry config virtualenvs.in-project true
        poetry install
        
    - name: Lint with flake8
      run: |
        poetry run flake8 .
        
    - name: Test with pytest
      run: |
        poetry run pytest
